# Add node modules to .gitignore
node_modules/
.idea/
.DS_Store
dist/
build/
coverage/
.env
*.log
*.tsbuildinfo
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.env.*.local
*.pem
*.key
*.crt
*.pfx
*.cer